<h4 class="ui horizontal divider header">
  <i class="users icon"></i>
  Users
</h4>
<div class="ui active inverted dimmer" *ngIf="loading">
  <div class="ui text loader">Loading</div>
</div>
<table class="ui celled table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
    <!-- OK, this is not the best practice, as we already developed a user-list-detail
    component to show this information. But somehow Angular breaks the styling within
    the table and the cells formatting sucks, so do it this way for now -->
    <tr *ngFor="let user of users">
      <td data-label="Name">
        <a routerLink="/users/{{user.id}}">{{user.name}}</a>
      </td>
      <td data-label="Company">
        {{user.company.name}}
      </td>
      <td data-label="Email">
        {{user.email}}
      </td>
    </tr>
  </tbody>
</table>
