<h4 class="ui horizontal divider header">
  <i class="comment outline icon"></i>
  Posts
</h4>
<div class="ui active inverted dimmer" *ngIf="loading">
  <div class="ui text loader">Loading</div>
</div>
<table class="ui celled table">
  <thead>
  <tr>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
    <!-- OK, this is not the best practice, as we already developed a post-list-detail
    component to show this information. But somehow Angular breaks the styling within
    the table and the cells formatting sucks, so do it this way for now -->
    <tr *ngFor="let post of posts">
      <td>
        <h4 class="ui header" [attr.data-tooltip]=post.body>
          <a routerLink="/posts/{{post.id}}">{{post.title}}</a>
        </h4>
      </td>
    </tr>
  </tbody>
</table>

